<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>blockcurrencies</name>
    <displayName><![CDATA[Currency block]]></displayName>
    <version><![CDATA[0.4]]></version>
    <description><![CDATA[Adds a block for selecting a currency &lt;br /&gt;updated by www.marghoobsuleman.com]]></description>
    <author><![CDATA[]]></author>
    <tab><![CDATA[Blocks]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>