.static-banners {
    display: flex;
    margin-top: 72px;
    margin-bottom: 89px;  
}
.static-banners .static-banner {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.static-banners .static-banner img {
    max-width: 100%;
}
.static-banners .static-banner::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.static-banners .static-banner:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
@media (max-width: 640px) {
    .static-banners {
        flex-wrap: wrap;
        justify-content: center;
    }
    .static-banners .static-banner {
        max-width: 100%;
    }
}