.anthemeblocks-footer-payments {
    margin-bottom: 0;
    text-align: right;
}
#footer .anthemeblocks-footer-payments li {
 display: inline-block;
 margin-right: 5px;
 margin-bottom: 0;
}
.anthemeblocks-footer-payments img {
    max-width: 30px;
    max-height: 30px;
}
@media (max-width: 768px) {
    #footer .anthemeblocks-footer-payments li {
        margin: 0 5px;
    }
}